dialog {
  border-radius: 40px;
  background: var(--primary-bg-color);
  border: none;
  transition: all 1s ease-in;
  width: 400px;
  height: 666px;
  margin: auto;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.7));

}

.dialog-frame-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: #FFF;
}

#dialog-picture {
  width: 100%;
  padding: 0 20px;
}

.dialog.opened {
  transform: translateY(0px);
  transition: all 250ms ease-in;

}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
  transition: all 250ms ease-in-out;
  border: none;

}

dialog.opened::backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 250ms ease-in-out;
  overflow: hidden;
  height: 100%;
}

.dialog-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
  padding: 10px 20px 10px 20px;
  min-height: 62px;
  /* background-image: url("../assets/img/pokemon-ball.png") center center/cover no-repeat; */
}

.dialog-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../assets/img/pokemon-ball.png') no-repeat;
  background-position: right 0px bottom -203px;
  background-size: cover;
  opacity: 0.3;
  pointer-events: none;
}

.dialog-title {
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 120%;
  position: relative;
}

.dialog-headline {
  display: flex;
  justify-content: space-between;
}

.current-detail {
  display: flex;
}

.current-detail-img {
  width: 220px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  filter: drop-shadow(3px 7px 4px rgba(0, 0, 0, 0.7));
}

#dialog-content {
  background-color: #FFF;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


#dialog-picture-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.previous-picture::before {
  font: var(--fa-font-solid);
  content: "\f137";
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

.previous-picture:hover {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.next-picture::before {
  font: var(--fa-font-solid);
  content: "\f138";
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

.next-picture:hover {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.wrapper-tab {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
      padding-top: 10px;

}

.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  margin: 0;
  height: 14.75rem;
  font-size: 16px;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;

  color: #3d3d3d;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  filter: brightness(120%);
  color: #919191;
}

.tab-content {
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 20px;
  background: #fff;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked+.tab-label {
  color: #2c3e50;
  border-bottom: 2px solid #5ba7cc;
  transition: all 0.35s;
  z-index: 1;
}

.tab-switch:checked+label+.tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
  margin-top: 10px;
}

table.pokemon-table {
  width: 100%;
}

table.pokemon-table td:first-child {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 8px;
}

table.pokemon-table td:last-of-type {
  text-align: right;
  vertical-align: baseline;
}