@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans:italic';
  src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-bg-color: #09212A;
  --second-bg-color: #06171E;
  --primary-color: #ffffff;
  --spacing-inner: 20px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none{
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}


button {
  background-color: transparent;
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
}

button:hover {
  filter: brightness(120%);
}


/* .load-more{
display: flex;
justify-content: center;
align-items: center;
} */

.load-more-button{
  height:auto;
  background-color: var(--primary-bg-color);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #4683a1;
  margin-bottom: 20px;
  padding: 12px;
}

#search-pokemon {
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #4683a1;
}

.search-button{
filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0));
}

.search-button:hover{
filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1));
}

.magnifying-glas{
  width: 30px;
}