.wrapper-header {
  display: flex;
  justify-content: center;
  background-color: var(--primary-bg-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

.wrapper-content {
  display: flex;
  justify-content: center;
}

.wrapper-inner {
  max-width: 1440px;
  width: 100%;
  min-height: calc(100dvh - 208px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-footer {
  display: flex;
  justify-content: center;
  background-color: var(--second-bg-color);
  background: var(--second-bg-color) url("../assets/img/back-footer.svg") center center/cover no-repeat;

}

header {
  max-width: 1440px;
  width: 100%;
  height: 120px;
  display: flex;
}

.headline-header {
  color: var(--primary-color);
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 32px;
}

.top-menu {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.top-logo {
  display: flex;
  align-items: center;

}

.top-logo-img {
  width: auto;
  height: 100px;

}

.top-menu-right {
  display: flex;
  align-items: center;
  height: 60px;
}

#search-pokemon {
  padding: 7px;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay.hidden {
  display: none;
}

#overlay img {
  width: 140px;
  height: 140px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.0);
  }

  50% {
    transform: rotate(180deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}


main {
  background-color: var(--second-bg-color);
}

.footer-flex {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer {
  height: 128px;
  max-width: 1440px;
  width: 100%;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo-footer-img {
  height: auto;
  width: 134px;
  margin-bottom: 10px;
}

.copyright {
  font-size: 16px;
  color: var(--primary-color);
}

#content {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px 20px;
  margin-bottom: 40px;
}

.card {
  background-color: #0f3342;
  height: auto;
  width: 300px;
  cursor: pointer;
}

.card:hover {
  filter: sepia(70%);
}

.list-thumb {
  border-radius: 16px;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.5);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h2-card-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 20px 0;
}

.list-thumb-img {

  /* border-top: 2px solid #4683a1;
  border-bottom: 2px solid #4683a1; */
  /* box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.5); */

}

.current-thumb-img {
  height: 140px;
  width: auto;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.7));
  margin-bottom: 30px;
}

.background-types {
  background-color: #FFF;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
  border: 1px solid var(--primary-bg-color);
  margin-bottom: 20px;
  text-align: center;

}